*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

header, .main, footer {
	width: 90%;
	margin: 35px auto;
	max-width: 1500px;
}

#logo{
	background-image: url(../img/logo-uoc.png);
	background-repeat: no-repeat;
	padding: 20px;
	height: 80px;
	width: 400px;
	background-size: 80% 60%;
	background-origin: content-box;
}

nav ul{
	list-style-type: none;
	margin:0px;
	padding:10px;
	background-color: #eaeaea;
}

nav li{
	display: inline-block;
	padding: 6px;
	background-color: #eaeaea;
}

nav a{
	text-decoration: none;
	text-align: center;
	color: black;
	font-family: 'Source Sans Pro', sans-serif;
	font-size:;
}

nav li:hover{
	color: #eaeaea;
	background-color: #eaeaea;
	border-bottom-width: 5px;
	border-bottom-color: black;
	border-bottom-style: solid;
}

.main {
	width: 80%;
	margin: 20px auto;
	max-width: 1500px;
}

.title{
	color: #A80808;
	font-size: 50px;
}

h1{
	font-size: 30px;
	color: #A80808;
}

section{
	margin-bottom: 10px;
}

p{
	font-size: 20px;
}

.box1, .box2, .box3, .box4, .box5{
	background-clip: content-box;
	width: 160px;
	background-repeat: no-repeat;
	float: left;
	padding: 2px;
	border: 1px solid grey;
	background-size:  contain;
	margin-top: 20px;
	margin: 20px 10px 0 10px;
	border-radius: 5px;
	box-shadow: 5px blue;
}

.box1{
	background-image: url(../img/glosario-ra.png);
	height: 210px;
}

.box2{
	background-image: url(../img/glosario-gamificacion.png);
	height: 110px;
}

.box3{
	background-image: url(../img/glosario-impresion-3d.png);
	height: 170px;
}
.box4{
	background-image: url(../img/glosario-wearables.png);
	height: 175px;
}

.box5{
	background-image: url(../img/glosario-big-data.png);
	height: 120px;
}

footer {
	font-family: 'Source Sans Pro', sans-serif;
	background: #000000;
	color: white;
	text-align: left;
	clear: both;
	padding: 50px;
}
footer img{
	display: block;
	margin-top: 15px;
}
