*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

header, .main, footer {
	width: 90%;
	margin: 20px auto;
	max-width: 1500px;
}
.main {
	width: 80%;
	margin: 20px auto;
	max-width: 1500px;
}

.menu{
	background-color: #A0A2A6;
	overflow: hidden;
}  

.menu ul {
	list-style: none;
}

.menu ul li {
	float: left;
}

.menu ul li a {
	font-family: 'Source Sans Pro', sans-serif;
	text-align: center;
	padding: 10px 60px;
	display: block;
	color: white;
	text-decoration: none;
}

.title{
	color: #A80808;
	font-size: 50px; 
}



footer {
	font-family: 'Source Sans Pro', sans-serif;
	background: #000000;
	color: white;
	text-align: left;
	clear: both;
	padding: 50px 5px;
}

.main .articulos article {
	margin-bottom: 30px;

}

h1{
	font-size: 40px;
	color: #000000;
}
.negro{
	color: black;
}

header div img{

}

h3{
	text-align: center;
	font-size: 15px;
	font-weight: lighter;
	color: #A59C9C;
}

div iframe{
	display: block;
	margin: 0 auto;
}

div img{
	display: block;
	margin: 0 auto;
}
footer img{
	display: block;
}
.t1{
	color: #1A64D4;
	font-weight: lighter;
}
.t2{
	color: #1A64D4;
}